site_name: Sovereign Trust Framework
site_url: https://sovereigntrustframework.org
site_description: A framework for decentralized trust and self-sovereign identity
site_author: Alexandre Cardoso (wwww.cardosoalexandre.com)

repo_url: https://github.com/cardosoalexandrecom/sovereigntrustframework
repo_name: cardosoalexandrecom/sovereigntrustframework

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cardosoalexandrecom
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/alexandrecardoso
